---
const { data } = Astro.props;
const { title, description, image, url, id } = data;
---

<section class="flex w-full flex-col items-center gap-8">
  <article
    class="relative flex h-[60dvh] w-full flex-col items-center justify-end lg:h-[65vh]"
  >
    <img
      class="absolute size-full object-cover object-top"
      src={image.url}
      alt={title}
    />

    <span
      class="absolute inset-0 bg-gradient-to-b from-knc-dark via-transparent to-knc-dark"
    ></span>

    <span
      class="absolute inset-0 bg-gradient-to-r from-knc-dark from-35% to-transparent"
    ></span>

    <div
      class="z-20 flex w-full flex-col justify-center px-6 pb-6 lg:px-20 lg:pb-20"
    >
      <h1 class="max-w-3xl text-2xl lg:text-6xl">{title}</h1>

      <div class="mt-4 flex lg:mt-10">
        <a
          href={`/player/${id}`}
          class="rounded-xl bg-knc-red px-8 py-3 transition-transform hover:scale-110"
        >
          Reproducir
        </a>
        <a
          href={url}
          target="_blank"
          class="px-8 py-3 transition-transform hover:scale-110"
        >
          Más info
        </a>
      </div>

      <p class="mt-6 max-w-4xl text-sm text-gray-300 lg:mt-12 lg:text-lg">
        {description}
      </p>
    </div>
  </article>
</section>
