---
import VideoHeader from "@/components/VideoHeader.astro";
import VideoSlider from "@/components/VideoSlider.astro";
import Layout from "@/layouts/Layout.astro";

import { lastEpisode, seasons, collections, shorts } from "@/lib/utils";
---

<Layout
  title="Podcast"
  description="Si te preguntas dónde ver el podcast de Kncelados, estás en el lugar adecuado. Tanto en esta página web, como en nuestro canal de YouTube encontrarás todos los episodios."
>
  <div class="pb-10">
    <VideoHeader data={lastEpisode} />
    {
      seasons.map((season) => (
        <VideoSlider
          data={season}
          title={`Temporada ${season[0].season}`}
          id={`temporada-${season[0].season}`}
        />
      ))
    }
    <VideoSlider data={collections} title="Especiales" id="especiales" />
    <VideoSlider data={shorts} title="Shorts" id="shorts" />
  </div>
</Layout>
