---
import { seasons } from "@/lib/utils";
---

<section id="podcast" class="relative flex w-full flex-col pt-20 text-center lg:py-24">
  {
    seasons.map((season, i) => (
      <>
        {i === 1 ? (
          <div class="title flex min-w-full shrink-0 items-center gap-5">
            <h2 class="whitespace-nowrap px-4 text-5xl lg:text-[16rem]">
              El podcast
            </h2>
            <div class="covers relative mt-4 flex shrink-0">
              <ul class:list={["flex h-32 shrink-0 gap-5", i % 2 && "reverse"]}>
                {season?.map(({ title, image }) => (
                  <li>
                    <img
                      src={image}
                      alt={title}
                      width="228"
                      height="128"
                      loading="lazy"
                      decoding="async"
                      class="w-60"
                    />
                  </li>
                ))}
              </ul>

              <ul class:list={["flex h-32 shrink-0 gap-5", i % 2 && "reverse"]}>
                {season?.map(({ title, image }) => (
                  <li>
                    <img
                      src={image}
                      alt={title}
                      width="228"
                      height="128"
                      loading="lazy"
                      decoding="async"
                      class="w-60"
                    />
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ) : (
          <div class="covers mt-4 flex min-w-full shrink-0 gap-5">
            <ul class:list={["flex h-32 shrink-0 gap-5", i % 2 && "reverse"]}>
              {season?.map(({ title, image }) => (
                <li>
                  <img
                    src={image}
                    alt={title}
                    width="228"
                    height="128"
                    loading="lazy"
                    decoding="async"
                    class="w-60"
                  />
                </li>
              ))}
            </ul>

            <ul class:list={["flex h-32 shrink-0 gap-5", i % 2 && "reverse"]}>
              {season?.map(({ title, image }) => (
                <li>
                  <img
                    src={image}
                    alt={title}
                    width="228"
                    height="128"
                    loading="lazy"
                    decoding="async"
                    class="w-60"
                  />
                </li>
              ))}
            </ul>

            <ul class:list={["flex h-32 shrink-0 gap-5", i % 2 && "reverse"]}>
              {season?.map(({ title, image }) => (
                <li>
                  <img
                    src={image}
                    alt={title}
                    width="228"
                    height="128"
                    loading="lazy"
                    decoding="async"
                    class="w-60"
                  />
                </li>
              ))}
            </ul>

            <ul class:list={["flex h-32 shrink-0 gap-5", i % 2 && "reverse"]}>
              {season?.map(({ title, image }) => (
                <li>
                  <img
                    src={image}
                    alt={title}
                    width="228"
                    height="128"
                    loading="lazy"
                    decoding="async"
                    class="w-60"
                  />
                </li>
              ))}
            </ul>
          </div>
        )}
      </>
    ))
  }

  <p class="mt-24 max-w-4xl self-center px-4 text-lg lg:text-2xl">
    Si te preguntas d칩nde ver el podcast de Kncelados, est치s en el lugar
    adecuado. Tanto en esta p치gina web, como en nuestro canal de YouTube
    encontrar치s todos los episodios.
  </p>

  <a
    href="/podcast"
    class="mt-10 min-w-48 self-center rounded-xl bg-knc-red px-8 py-3 transition-transform hover:scale-110"
  >
    Ver podcast
  </a>
</section>
