---
import ProductSlider from "@/components/ProductSlider.astro";
import Layout from "@/layouts/Layout.astro";
import Bag from "@/lib/assets/Bag.astro";
import { getCollection } from "astro:content";

const storeCollection = await getCollection("store");
const availableTags = storeCollection.map((item) => item.data.tags).flat();
const uniqueTags = [...new Set(availableTags)];
---

<Layout
  title="Tienda"
  description="Proximamente en la tienda oficial KNC Store, podrás encontrar camisetas, tote bags, láminas, stickers, fondos de pantalla y más."
>
  <section
    class="text-knc-dark flex flex-1 flex-col items-center justify-center bg-white px-14 pt-[128px] pb-48"
  >
    <header
      class="flex w-full items-center justify-between border-t border-black p-6"
    >
      <h1 class="text-2xl md:text-6xl lg:text-7xl">Kncelados store</h1>

      <select id="filter-select" class="capitalize md:p-6 md:text-xl">
        <option value="">Categoría</option>
        {uniqueTags.map((tag) => <option class="capitalize">{tag}</option>)}
      </select>
    </header>

    <ul
      class="grid w-full grid-cols-2 gap-2 border-t border-black pt-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {
        storeCollection.map((item) => (
          <li
            data-tags={item.data.tags}
            class="flex size-full flex-col items-center justify-between p-2"
          >
            <a class="flex size-full flex-col items-center justify-between text-center p-2" href={`/tienda/${item.id}`}> 
              {/* <ProductSlider
              id={item.id}
              images={item.data.images}
              title={item.data.title}
            /> */}

              <img
                src={item.data.images[0]}
                alt={item.data.title}
                class="size-full object-contain transition-transform duration-700 hover:scale-110 hover:-rotate-3"
              />

              <p class="pt-8 pb-4 text-xl">{item.data.title}</p>

              {/* <a
                href={`/tienda/${item.id}`}
                class="bg-knc-red mb-8 flex h-14 w-full max-w-3/4 items-center justify-center gap-2 border-2 border-dashed border-white p-2 text-white transition-all hover:text-lg md:p-4"
              >
                <Bag class="size-5" /> Ver {item.data.tags[0]}
              </a> */}
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <!-- <div
    id="coming-soon"
    class="bg-knc-dark fixed inset-0 z-50 flex flex-col items-center justify-center p-6 text-center text-white"
  >
    <h1 class="text-3xl md:text-6xl lg:text-8xl">Próximamente</h1>
    <p class="mt-4 text-xl md:text-2xl lg:text-3xl">
      La tienda está en construcción, disculpa las molestias.
    </p>
  </div> -->

  <script type="module" define:vars={{ uniqueTags }} is:inline>
    import "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";

    const comingSoon = document.querySelector("#coming-soon");
    window.addEventListener("keydown", (ev) => {
      if (ev.ctrlKey && ev.code === "KeyM") {
        comingSoon.classList.toggle("hidden");
      }
    });

    function ShopifyBuyInit() {
      const client = ShopifyBuy.buildClient({
        domain: "j1geya-ni.myshopify.com",
        storefrontAccessToken: "3faa61063d14a1a5843c56309d8de76e",
      });

      var ui = ShopifyBuy.UI.init(client);
      ui.createComponent("product", {
        id: 15136731529596,
        options: {
          product: {
            styles: {
              product: {
                display: "none",
              },
            },
          },
          cart: {
            styles: {
              button: {
                "font-weight": "bold",
                "font-size": "16px",
                "padding-top": "16px",
                "padding-bottom": "16px",
                ":hover": {
                  "background-color": "#cf2c1d",
                },
                "background-color": "#e63120",
                ":focus": {
                  "background-color": "#cf2c1d",
                },
                "border-radius": "12px",
              },
              title: {
                color: "#060d14",
              },
              header: {
                color: "#060d14",
              },
              lineItems: {
                color: "#060d14",
              },
              subtotalText: {
                color: "#060d14",
              },
              subtotal: {
                color: "#060d14",
              },
              notice: {
                color: "#060d14",
              },
              currency: {
                color: "#060d14",
              },
              close: {
                color: "#060d14",
                ":hover": {
                  color: "#060d14",
                },
              },
              empty: {
                color: "#060d14",
              },
              noteDescription: {
                color: "#060d14",
              },
              discountText: {
                color: "#060d14",
              },
              discountIcon: {
                fill: "#060d14",
              },
              discountAmount: {
                color: "#060d14",
              },
            },
            text: {
              title: "Tu pedido",
              total: "Subtotal",
              empty: "Tu carrito está vacío",
              notice:
                "Los códigos de envío y descuento se agregan al momento del pago.",
              button: "Finalizar pago",
            },
          },
          toggle: {
            styles: {
              toggle: {
                "font-weight": "bold",
                "background-color": "#e63120",
                ":hover": {
                  "background-color": "#cf2c1d",
                },
                ":focus": {
                  "background-color": "#cf2c1d",
                },
              },
              count: {
                "font-size": "16px",
              },
            },
          },
          lineItem: {
            styles: {
              variantTitle: {
                color: "#060d14",
              },
              title: {
                color: "#060d14",
              },
              price: {
                color: "#060d14",
              },
              fullPrice: {
                color: "#060d14",
              },
              discount: {
                color: "#060d14",
              },
              discountIcon: {
                fill: "#060d14",
              },
              quantity: {
                color: "#060d14",
              },
              quantityIncrement: {
                color: "#060d14",
                "border-color": "#060d14",
              },
              quantityDecrement: {
                color: "#060d14",
                "border-color": "#060d14",
              },
              quantityInput: {
                color: "#060d14",
                "border-color": "#060d14",
              },
            },
          },
        },
      });
    }

    ShopifyBuyInit();
    document.addEventListener("astro:after-swap", ShopifyBuyInit);

    function init_filter() {
      const filterBtn = document.querySelector("#filter-select");
      const storeItems = document.querySelectorAll("[data-tags]");

      const filterItems = (tags) => {
        storeItems.forEach((item) => {
          const itemTags = item.dataset.tags.split(",");

          if (itemTags.includes(tags)) {
            item.classList.remove("hidden");
          } else {
            item.classList.add("hidden");
          }

          if (!tags) {
            item.classList.remove("hidden");
          }
        });
      };

      filterBtn.addEventListener("change", (e) => {
        filterItems(e.target.value);
      });
    }

    init_filter();
    document.addEventListener("astro:after-swap", init_filter);
  </script>
</Layout>
